/* ##############
   imports
   ############## */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
/* ##############
   variables
   ############## */
/* Here we declare variables in the scss files */
/* ##############
   Initialising
   ############## */
body {
  font-family: "Roboto Condensed", sans-serif;
}

section {
  padding: 30px 0;
}

article {
  margin-bottom: 30px;
}

/* ##############
   Positioning
   ############## */
.container-xl {
  max-width: 1310px;
}

.image {
  width: 100%;
  cursor: pointer;
}

.image + div.notice {
  position: relative;
}

.image + div.notice a,
.image + div.notice span {
  position: absolute;
  top: -28px;
  padding: 6px 16px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #f72210;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-decoration: none;
}

.image + div.notice.sml-notice span {
  background-color: #c2d4d7;
  color: black;
  top: -19px;
  padding: 4px 8px;
  font-size: 14px;
  line-height: 16px;
}

.border-bottom {
  border-bottom: solid 0.5px #d1d1d1;
}

.padding-and-border {
  border-bottom: solid 1px #d1d1d1;
  padding-bottom: 24px;
}

img.little-img, .smaller-img {
  height: 95px;
  width: 95px;
  float: left;
  clear: left;
  margin: 0 15px 10px 0;
  cursor: pointer;
}

.smaller-img {
  height: 65px;
  width: 65px;
}

/* ##############
   Styling text
   ############## */
.section-title {
  color: rgba(3, 3, 3, 0.4);
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}

h3.article-title, h3.sml-article-title {
  margin-top: 1rem;
  line-height: 24px;
}

h3.article-title a, h3.sml-article-title a {
  color: black;
  font-weight: 700;
  font-size: 22px;
  text-decoration: none;
}

h3.article-title a:hover, h3.sml-article-title a:hover {
  -webkit-text-decoration: underline #f72210;
          text-decoration: underline #f72210;
}

h3.article-title + p, h3.sml-article-title + p {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin-bottom: 0;
}

h3.sml-article-title + p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  line-height: 21px;
}

h3.sml-article-title + p a {
  font-weight: 700;
  text-decoration: none;
  color: #555555;
}

h3.sml-article-title + p a:hover {
  -webkit-text-decoration: underline #f72210;
          text-decoration: underline #f72210;
  color: black;
}

h3.sml-article-title + p span {
  font-weight: 700;
  color: #555555;
}

h3.sml-article-title.f-size-17-20 {
  line-height: 20px;
}

h3.sml-article-title.f-size-17-20 a {
  font-size: 17px;
}

h3.sml-article-title.f-size-17-20 + p {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin-bottom: 0;
}

div.article-footer {
  margin: 15px 0;
  min-height: 65px;
}

div.article-footer h3 {
  line-height: 20px;
}

div.article-footer h3 a {
  font-size: 17px;
}

div.article-footer h4 {
  line-height: 20px;
}

div.article-footer h4 a {
  color: black;
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
}

div.article-footer h4 a:hover {
  color: #f72210;
}

div.vs-div {
  margin: auto;
  position: relative;
}

div.vs-div span {
  color: #bdbdbd;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  padding: 10px;
  background-color: black;
  border-radius: 50%;
  display: table;
  margin: auto;
}

div.vs-div span::before {
  content: "";
  display: block;
  height: 0.5px;
  position: absolute;
  width: 100%;
  background-color: #dbdbdb;
  left: 0;
  right: 0;
  z-index: -1;
  top: calc(50% - 2px);
}

div.vs-div span::after {
  content: "";
  display: block;
  height: 0.5px;
  position: absolute;
  width: 100%;
  background-color: #dbdbdb;
  left: 0;
  right: 0;
  z-index: -1;
  top: 50%;
}

section#debate-section > div:first-of-type {
  margin: 15px 0 10px 0;
  border-top: solid 4px #d1d1d1;
  padding-top: 10px;
}

section#debate-section > div:last-of-type {
  margin: 10px 0 15px 0;
  border-bottom: solid 4px #d1d1d1;
  padding-bottom: 28px;
}

section#debate-section > div:last-of-type .smaller-img {
  float: right;
}

div#subscribe {
  max-width: 300px;
  background-color: #f4f5f6;
}

div#subscribe p {
  font-size: 19px;
  line-height: 19px;
  color: #333333;
}

div#subscribe a {
  font-size: 19px;
  background-color: #f72210;
}

section#in-the-magazine h2 {
  font-size: 19px;
}

section#in-the-magazine a {
  font-size: 19px;
  background-color: #f4f5f6;
  text-decoration: none;
  color: black;
}

section#in-the-magazine a:hover {
  background-color: #dfdfdf;
}

section#features h3.sml-article-title {
  line-height: 16px;
}

section#features h3.sml-article-title a {
  font-size: 16px;
}

section#features span.text-white {
  background-color: #f72210;
}

section#features span.text-black {
  color: #f72210;
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */