/* ##############
   imports
   ############## */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

/* ##############
   variables
   ############## */

/* Here we declare variables in the scss files */

$red: #f72210;
$yellow: #ffe400;
$lightgray: #f4f5f6;
$gray: rgba(3, 3, 3, 0.4);
$blackish: #333333;
$grayish: #555555;
$black: black;
$white: white;

$roboto: "Roboto Condensed", sans-serif;
$arial: Arial, Helvetica, sans-serif;

$border-gray: solid 0.5px rgb(209, 209, 209);

/* ##############
   Initialising
   ############## */

body {
  font-family: $roboto;
}

section {
  padding: 30px 0;
}

article {
  margin-bottom: 30px;
}

/* ##############
   Positioning
   ############## */

.container-xl {
  max-width: 1310px;
}

.image {
  width: 100%;
  cursor: pointer;
}
.sub-image {
  width: 258px;
}

.image + div.notice {
  position: relative;
  a,
  span {
    position: absolute;
    top: -28px;
    padding: 6px 16px;
    background-color: rgba(255, 255, 255, 0.9);
    color: $red;
    font-size: 17px;
    line-height: 16px;
    font-weight: 700;
    text-decoration: none;
  }
}
.image + div.notice.sml-notice {
  span {
    background-color: #c2d4d7;
    color: $black;
    top: -19px;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 16px;
  }
}

.border-bottom {
  border-bottom: $border-gray;
}

.padding-and-border {
  border-bottom: solid 1px rgb(209, 209, 209);
  padding-bottom: 24px;
}

img.little-img {
  height: 95px;
  width: 95px;
  float: left;
  clear: left;
  margin: 0 15px 10px 0;
  cursor: pointer;
}

.smaller-img {
  @extend img.little-img;
  height: 65px;
  width: 65px;
}

/* ##############
   Styling text
   ############## */

.section-title {
  color: $gray;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}

h3.article-title {
  margin-top: 1rem;
  line-height: 24px;
  a {
    color: $black;
    font-weight: 700;
    font-size: 22px;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline $red;
  }
  + p {
    color: $blackish;
    font-family: $arial;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 0;
  }
}

h3.sml-article-title {
  @extend h3.article-title;
  + p {
    font-family: $roboto;
    font-size: 14px;
    line-height: 21px;
    a {
      font-weight: 700;
      text-decoration: none;
      color: $grayish;
    }
    a:hover {
      text-decoration: underline $red;
      color: $black;
    }
    span {
      font-weight: 700;
      color: $grayish;
    }
  }
}

h3.sml-article-title.f-size-17-20 {
  line-height: 20px;
  a {
    font-size: 17px;
  }
  + p {
    color: $blackish;
    font-family: $arial;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 0;
  }
}

div.article-footer {
  margin: 15px 0;
  min-height: 65px;
  h3 {
    line-height: 20px;
    a {
      font-size: 17px;
    }
  }
  h4 {
    line-height: 20px;
    a {
      color: $black;
      font-size: 17px;
      font-weight: 700;
      text-decoration: none;
    }
    a:hover {
      color: $red;
    }
  }
}

@mixin deco {
  content: "";
  display: block;
  height: 0.5px;
  position: absolute;
  width: 100%;
  background-color: rgb(219, 219, 219);
  left: 0;
  right: 0;
  z-index: -1;
}

div.vs-div {
  margin: auto;
  position: relative;
  span {
    color: rgb(189, 189, 189);
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    padding: 10px;
    background-color: $black;
    border-radius: 50%;
    display: table;
    margin: auto;
  }
  span::before {
    @include deco();
    top: calc(50% - 2px);
  }
  span::after {
    @include deco();
    top: 50%;
  }
}

section#debate-section {
  > div:first-of-type {
    margin: 15px 0 10px 0;
    border-top: solid 4px rgb(209, 209, 209);
    padding-top: 10px;
  }
  > div:last-of-type {
    margin: 10px 0 15px 0;
    border-bottom: solid 4px rgb(209, 209, 209);
    padding-bottom: 28px;
    .smaller-img {
      float: right;
    }
  }
}

div#subscribe {
  max-width: 300px;
  background-color: $lightgray;
  p {
    font-size: 19px;
    line-height: 19px;
    color: $blackish;
  }
  a {
    font-size: 19px;
    background-color: $red;
  }
}

section#in-the-magazine {
  h2 {
    font-size: 19px;
  }
  a {
    font-size: 19px;
    background-color: $lightgray;
    text-decoration: none;
    color: $black;
  }
  a:hover {
    background-color: rgb(223, 223, 223);
  }
}
section#big-section {
  h2 {
    line-height: 22px;
    > a {
      font-size: 22px;
      text-decoration: none;
      color: $red;
    }
  }
}

section#features {
  h3.sml-article-title {
    line-height: 16px;
    a {
      font-size: 16px;
    }
  }
  span.text-white {
    background-color: $red;
  }
  span.text-black {
    color: $red;
    cursor: pointer;
  }
}

section#editors-pick {
  h2 {
    font-size: 19px;
  }
}

section#subscription,
section#news-letter {
  h2 {
    color: $red;
    font-size: 16px;
    line-height: 16px;
  }
  div#in-depth {
    background-color: rgb(243, 243, 243);
    div#image-contain {
      width: 237px;
      height: 240px;
      position: relative;
      > img {
        position: absolute;
      }
      > img:first-of-type {
        top: 0;
        left: 0;
      }
      > img:last-of-type {
        bottom: 0;
        right: 0;
      }
    }
  }
  h3 {
    font-size: 20px;
    line-height: 28px;
  }
  p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: $blackish;
  }
  div.btn-group {
    width: 100%;
    * {
      width: 50%;
    }
    button.btn {
      background-color: $red;
    }
  }
}

#starting5 {
  height: 200px;
  background-image: url("../images/starting5-homepage.png");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-size: cover;
  background-position-y: 50%;
}

footer {
  ul {
    li {
      font-size: 16px;
    }
  }
}